In [ ]:
import numpy as np
import pandas as pd

train = pd.read_csv('train_preprocessed.csv')
test = pd.read_csv('test_preprocessed.csv')

In [ ]:
train.isnull().sum()

Unnamed: 0        0
HomePlanet      201
CryoSleep       217
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
Group             0
Person            0
FirstName       200
LastName        200
Cabin1          199
Cabin2          199
Cabin3          199
dtype: int64

In [ ]:
test.isnull().sum()

Unnamed: 0        0
HomePlanet       87
CryoSleep        93
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Group             0
Person            0
FirstName        94
LastName         94
Cabin1          100
Cabin2          100
Cabin3          100
dtype: int64

In [ ]:
df = [train, test]

for i in df:
  i.drop(columns = ['Unnamed: 0', 'FirstName', 'LastName', 'Group'], axis = 1, inplace = True)

##**Remove Missing Values and Feature Encoding**##

In [ ]:
numeric_balanced = ['Age']
numeric_unbalanced = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
nominal = ['HomePlanet', 'Destination']
ordinal = ['CryoSleep', 'VIP', 'Cabin1', 'Cabin2', 'Cabin3', 'Person']

In [ ]:
#filling numerical features with its median and mean
for i in df:
  for p in numeric_balanced:
    i[p].fillna(i[p].mean(), inplace = True)

  for q in numeric_unbalanced:
    i[q].fillna(i[q].median(), inplace = True)

In [ ]:
homeplanet_train = pd.get_dummies(train['HomePlanet'])
homeplanet_test = pd.get_dummies(test['HomePlanet'])
dest_train = pd.get_dummies(train['Destination'])
dest_test = pd.get_dummies(test['Destination'])

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for i in df:
  for j in ordinal:
    i[j] = label_encoder.fit_transform(i[j])

In [ ]:
train = pd.concat([train, homeplanet_train, dest_train], axis=1)
test = pd.concat([test, homeplanet_test, dest_test], axis=1)

categoric = nominal
categoric.append(ordinal)

train.drop(columns = ['HomePlanet', 'CryoSleep', 'Destination','VIP', 'Cabin1', 'Cabin2', 'Cabin3', 'Person'], axis=1, inplace = True)
test.drop(columns = ['HomePlanet', 'CryoSleep', 'Destination','VIP', 'Cabin1', 'Cabin2', 'Cabin3', 'Person'], axis=1, inplace = True)

In [ ]:
train

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Earth,Europa,Mars,55 Cancri e,PSO J318.5-22,TRAPPIST-1e
0,39.0,0.0,0.0,0.0,0.0,0.0,False,0,1,0,0,0,1
1,24.0,109.0,9.0,25.0,549.0,44.0,True,1,0,0,0,0,1
2,58.0,43.0,3576.0,0.0,6715.0,49.0,False,0,1,0,0,0,1
3,33.0,0.0,1283.0,371.0,3329.0,193.0,False,0,1,0,0,0,1
4,16.0,303.0,70.0,151.0,565.0,2.0,True,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,False,0,1,0,1,0,0
8689,18.0,0.0,0.0,0.0,0.0,0.0,False,1,0,0,0,1,0
8690,26.0,0.0,0.0,1872.0,1.0,0.0,True,1,0,0,0,0,1
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,False,0,1,0,1,0,0
8692,44.0,126.0,4688.0,0.0,0.0,12.0,True,0,1,0,0,0,1

In [ ]:
#!pip install missingpy
#!pip install miceforest

In [ ]:
#import sklearn.neighbors._base
#import miceforest as mf
#import sys
#from sklearn.impute import KNNImputer

#imputer = KNNImputer()

#for i in df:
  #for j in nominal:
    #i[j] = imputer.fit_transform(i[j])

##**Feature Scaling and Remove Outliers**##

In [ ]:
for j in numeric_unbalanced:
    train[j] = np.sqrt(train[j])

In [ ]:
from sklearn.preprocessing import RobustScaler

df = [train, test]

model = RobustScaler()
for i in df:
  i = model.fit_transform(i)

In [ ]:
train.to_csv('train_finals_simple.csv')
test.to_csv('test_finals_simple.csv')